<section class="page-title" style="{{ pageHeader.bgimage }}">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="{{ pageHeader.link1 }}">{{ pageHeader.link1Title }}</a></li>
                <li><a href="{{ pageHeader.link2 }}">{{ pageHeader.link2Title }}</a></li>
                <li>{{ pageHeader.headerTitle }}</li>
            </ul>
            <h1>{{ pageHeader.headerTitle }}</h1>
        </div>
    </div>
</section>
