<section class="page-title" style="{{ storyHeader.bgimage }}">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="{{ storyHeader.link1 }}">{{ storyHeader.link1Title }}</a></li>
                <li><a href="{{ storyHeader.link2 }}">{{ storyHeader.link2Title }}</a></li>
                <li>{{ storyHeader.storyTitle }}</li>
            </ul>
            <h1>{{ storyHeader.storyTitle }}</h1>
        </div>
    </div>
</section>


