{{#each stories as |item|}}
    <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInLeft">
        <div class="inner-box">
            <div class="image-box">
                <figure class="image"><img src="images/resource/event-1.jpg" alt=""></figure>
            </div>
            <div class="content-box">
                <div class="date">{{ item.genre }}</div>
                <h4><a href="{{ item.storyUrl}}">{{ item.storyTitle }}</a></h4>
                <ul class="event-info">
                    <li><span>Time to read: </span>{{ item.readingTime}}</li>
                    <li><span>Author: </span>{{ item.storyAuthor }}</li>
                </ul>
            </div>
        </div>
    </div>
{{/each}}
